/target
/local

# pom.xml is generated during test run
pom.xml

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
!.gitattributes
/nbproject
/*.ipr
/*.iws
/*.iml

# Repository wide ignore mac DS_Store files
.DS_Store
